<template name="home">
  {{#panel}}
    {{> panelHeading title="Example Component" }}
    {{#panelBody}}
      <div class="row">
        <div class="col-sm-6">
          {{> example
              id="Rectangle"
              width="100%"
              height="200px"
              viewbox="0 0 1200 400"
              desc="Example Rectangle"
              template="rectangle"
              background=rectangleBackground
              border=rectangleBorder
              fill=rectangleFill
              stroke=rectangleStroke
              debug="all"
          }}
        </div>
        <div class="col-sm-6">
          {{> example
              id="Circle"
              width="100%"
              height="200px"
              viewbox="0 0 1200 400"
              desc="Example Circle"
              template="circle"
              background=circleBackground
              border=circleBorder
              fill=circleFill
              stroke=circleStroke
              debug="all"
          }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{> componentControl id="Rectangle" }}
        </div>
        <div class="col-sm-6">
          {{> componentControl id="Circle" }}
        </div>
      </div>
    {{/panelBody}}
  {{/panel}}
</template>

<template name="componentControl">
  <form class="form-horizontal form-separate" action="#" role="form">
    <h6><i class="icon-page-break"></i> {{id}} Control</h6>
    <div class="form-group">
      <label class="col-md-2 control-label">Background</label>
      <div class="col-md-10">
        {{#select2 placeholder="Select a Background Color..." }}
          {{> colors }}
        {{/select2}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Border</label>
      <div class="col-md-10">
        {{#select2 placeholder="Select a Border Color..." }}
          {{> colors }}
        {{/select2}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Fill</label>
      <div class="col-md-10">
        {{#select2 placeholder="Select a Fill Color..." }}
          {{> colors }}
        {{/select2}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Stroke</label>
      <div class="col-md-10">
        {{#select2 placeholder="Select a Stroke Color..." }}
          {{> colors }}
        {{/select2}}
      </div>
    </div>
  </form>
</template>

<template name="colors">
  <option value="red">Red</option>
  <option value="yellow">Yellow</option>
  <option value="blue">Blue</option>
  <option value="green">Green</option>
</template>