<template name="home">
  {{#panel}}
    {{> panelHeading title="Example Component" }}
    {{#panelBody}}
      <div class="row">
        {{> example
            width="100%"
            viewbox="0 0 1200 400"
            desc="Example rect01 - rectangle with sharp corners"
            template="rect"
            debug="all" }}
      </div>
      <div class="row">
        {{> example
            width="100%"
            viewbox="0 0 1200 400"
            desc="Example rect01 - rectangle with sharp corners"
            template="rect"
            debug="all" }}
      </div>
    {{/panelBody}}
  {{/panel}}
</template>