<template name="example">
    <svg width="{{width}}"
         height="{{height}}"
         viewBox="{{viewbox}}"
         xmlns="http://www.w3.org/2000/svg"
         version="1.1">
        <desc>{{desc}}</desc>
        {{#with self.chooseTemplate template }}
            {{#with .. }}     {{! original arguments to example component }}
                {{> .. }}     {{! return value from chooseTemplate( template ) }}
            {{/with}}
        {{/with}}
    </svg>
</template>

<template name="ExampleComponentDefault">
    {{> rectangle }}
</template>

<template name="rectangle">
    <rect x="1" y="1" width="1198" height="398"
          fill="{{background}}" stroke="{{border}}" stroke-width="2"/>

    <rect x="400" y="100" width="400" height="200"
          fill="{{fill}}" stroke="{{stroke}}" stroke-width="10"  />
</template>

<template name="circle">
    <rect x="1" y="1" width="1198" height="398"
          fill="{{background}}" stroke="{{border}}" stroke-width="2"/>

    <circle cx="600" cy="200" r="100"
            fill="{{fill}}" stroke="{{stroke}}" stroke-width="10"  />
</template>