<template name="ServerData">
  {{initialize this}}
  {{filter.userAgent.$regex}}
  {{#if subscribed}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>PLATFORM</th>
        <th>USER AGENT</th>
        <th>CREATED</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows }}
        <tr>
          <td>{{_id}}</td>
          <td>{{platform}}</td>
          <td>{{userAgent}}</td>
          <td>{{createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-4">
      <h4 class="pull-right">
        Showing {{ pageStart }}-{{ pageEnd }} of {{ countFiltered }} ( filtered from {{ countTotal }} )
      </h4>
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-3">
      <div>
        <button class="btn btn-success first">First</button>
        <button class="btn btn-success previous">Prev</button>
        <button class="btn btn-default">{{ pageCurrent }}</button>
        <button class="btn btn-success next">Next</button>
        <button class="btn btn-success last">Last</button>
      </div>
    </div>
  </div>
  {{else}}
    <h1>Loading...</h1>
  {{/if}}
</template>