<template name="ServerData">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>PLATFORM</th>
        <th>USER AGENT</th>
        <th>CREATED</th>
      </tr>
    </thead>
    <tbody>
    {{#if self.isSubscriptionReady }}
      {{#each self.rows }}
        <tr>
          <td>{{_id}}</td>
          <td>{{platform}}</td>
          <td>{{userAgent}}</td>
          <td>{{createdAt}}</td>
        </tr>
      {{/each}}
    {{else}}
      <tr><td colspan="4"><h1>Loading...</h1></td></tr>
    {{/if}}
    </tbody>
  </table>
  {{#if self.isSubscriptionReady }}
  <div class="row">
    <div class="col-sm-2">
      <h3 class="pull-right">Showing {{ self.start }}-{{ self.end }} of {{ self.total }}</h3>
    </div>
    <div class="col-sm-8"></div>
    <div class="col-sm-2">
      <div>
        <button class="btn btn-success previous">Prev</button>
        <button class="btn btn-success next">Next</button>
      </div>
    </div>
  </div>
  {{/if}}
</template>