<template name="ServerData">
  <table class="table table-striped" styles="min-height: 200px;">
    <thead>
      <tr>
        <th>ID</th>
        <th>PLATFORM</th>
        <th>USER AGENT</th>
        <th>CREATED</th>
      </tr>
    </thead>
    <tbody>
      {{#each self.rows }}
        <tr>
          <td>{{_id}}</td>
          <td>{{platform}}</td>
          <td>{{userAgent}}</td>
          <td>{{createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-4">
      <h4 class="pull-right">Showing {{ self.pageStart }}-{{ self.pageEnd }} of {{ self.collectionCount "filtered" }} ( filtered from {{ self.collectionCount }} )</h4>
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-3">
      <div>
        <button class="btn btn-success first">First</button>
        <button class="btn btn-success previous">Prev</button>
        <button class="btn btn-success next">Next</button>
        <button class="btn btn-success last">Last</button>
      </div>
    </div>
  </div>
</template>