<template name="ServerDataView">
  {{#panel}}
    {{#panelHeading title="ServerData Example Component" }}
      <a href="#" class="add-row">Add Row</a>
    {{/panelHeading}}
    {{#panelBody}}
      <div class="row block">
        <div class="col-sm-3">
          <input type="text" id="subscription-filter" class="form-control pull-left" placeholder="Filter User Agents" />
        </div>
        <div class="col-sm-3">
          <label class="control-label text-left">Page Limit :</label>
          {{#select2 id="subscription-limit" selected=limit }}
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          {{/select2}}
        </div>
      </div>
      <div class="row">
        {{> ServerData
          subscription="example"
          debug="all"
          query=query
          filterQuery=filterQuery
          subscriptionOptions=subscriptionOptions
        }}
      </div>
    {{/panelBody}}
  {{/panel}}
</template>